

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
  }
  
  header {
    background-color: #ff6347;
    text-align: center;
    padding: 20px;
    font-family: cursive;
    color: rgba(255,255,255, 0.799);
  }
  
  .photo-collage {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .photo-collage img {
    align-self: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .birthday-message {
    text-align: center;
    margin: 20px;
    font-family: cursive;
  }
  
  .interactive-elements {
    text-align: center;
    margin: 20px;
  }
  
  #reveal-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  
  .countdown-timer {
    text-align: center;
    margin: 20px;
  }
  
 
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  